<h1><%= course %></h1>
<% if resources[:files].include?("readme.html") %>
  <%= partial "/courses/#{course}/readme.md" %>
<% elsif resources[:files].include?("README.html") %>
  <%= partial "/courses/#{course}/README.md" %>
<% elsif resources[:files].include?("Readme.html") %>
  <%= partial "/courses/#{course}/Readme.md" %>
<% end %>

<% resources.each_pair do |key, values| %>
  <h2><%= key.capitalize %></h2>
  <% subfolder = key == :files ? "" : "/#{key}" %>
  <ul>
    <% values.each do |file| %>
      <li><%= link_to file.split('.').first.humanize, "/courses/#{course}#{subfolder}/#{file}" %></li>
    <% end %>
  </ul>
<% end %>
